@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
/* background-color: #350349;
background-image: linear-gradient(0deg, #350349 0%, #000000 60%, #350349 65%); */
background-color: #1c0127
    /* background-image: url('constants/bg/bgpurple.webp'); */
}



.disabled-link {
  pointer-events: none;
  cursor: default;
  /* Optionally, add styling to indicate it's disabled */
  text-decoration: line-through; /* You can add any other visual cues as needed */
  color: #aaa;
}


