@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


.disabled-link {
  pointer-events: none;
  cursor: default;
  /* Optionally, add styling to indicate it's disabled */
  text-decoration: line-through; /* You can add any other visual cues as needed */
  color: #aaa;
}
